:root {
  --color-brand-lightblue: #2b7fff;
  --color-primary-darkblue: #011c44;
  --color-secondary-darkblue: #011f4a;
  --color-secondary-white: #ffffff;
}
/* BASE */
body {
  color: var(--color-primary-darkblue);
  width: auto;
  height: auto;
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* BUTTON AND LINK */
.button {
  color: var(--color-secondary-white);
  background: var(--color-brand-lightblue);
  border-radius: 32px;
  border: 2px solid var(--color-brand-lightblue);
  cursor: pointer;
}
.button:hover {
  color: var(--color-primary-darkblue);
  background: transparent;
}
.link:hover {
  color: var(--color-brand-lightblue);
}
/* BACKGROUND */
header {
  background: url(images/first-back-img.svg);
}
footer {
  background-image: url(images/footer-back.svg);
  background-color: var(--color-primary-darkblue);
  color: var(--color-secondary-white);
  height: 1%;
  top: 833px;
  left: -278.52px;
  gap: 0px;
  border: 4px 0px 0px 0px;
  opacity: 0px;
}
/* ACCENT  */
.accent {
  color: var(--color-brand-lightblue);
}
.black-accent {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 600;
  line-height: 38px;
  text-align: left;
}
/* TEST */
header img {
  border: 2px solid black; /* тимчасово */
}
