@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

:root {
  --color-brand-lightblue: #2b7fff;
  --color-primary-darkblue: #011c44;
  --color-primary-white: #ffffff;
  --color-secondary-darkblue: #011f4a;
  --color-secondary-grey: #747272;
  --color-secondary-darkgrey: #4a4a4a;
}
/* BASE */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.17;
  color: var(--color-primary-darkblue);
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* temp */
.contacts img {
  background-color: var(--color-primary-darkblue);
}
/* BUTTON AND LINK */
.button {
  color: var(--color-primary-white);
  background: var(--color-brand-lightblue);
  border-radius: 32px;
  border: 2px solid var(--color-brand-lightblue);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.button:hover {
  color: var(--color-primary-darkblue);
  background: transparent;
}
link {
  font-size: 18px;
}
.link:hover {
  color: var(--color-brand-lightblue);
  font-weight: 700;
}
.section-title {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.165;
}
/* ACCENT  */
.accent {
  color: var(--color-brand-lightblue);
}
/* black accent */
#section-intro p span {
  font-weight: 600;
}
/* hero section */
#hero-section {
  font-size: 18px;
}
.hero-title {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 140px;
  line-height: 114px;
}
.additional-info {
  font-size: 12px;
  line-height: 18px;
  color: var(--color-secondary-darkgrey);
}
/* intro section */
#section-intro {
  line-height: 38px;
}
/* Advantages section */
#section-advantages li {
  font-size: 18px;
}
/* footer  */
footer nav {
  font-size: 16px;
}
footer p {
  font-size: 13px;
}
